 body
 {
 	height: 7000px;
 }
 .multichannell-con {
 
    width: 100%;
    display: block;
    margin: 90px auto 0;
    text-align: center;
    background: #0067ff;
    color: #fff;
    position: relative;
}
.sl-pce-lft {
    width: 50%;
    display: inline-block;
    max-width: 600px;
    height: 600px;
    
   
}
.imgs
{
	 padding-top: 4rem;
}

#one
{
    display: block;
}
#two #three
{
    display: none;
}

.sl-pce-lft img {
    width: 90%;
    
}

.sl-pce-rit {
    width: 42%;
    display: inline-block;
    vertical-align: top;
    margin-left: 65px;
}
.slid-lineanim {
    position: relative;
}
.slt-list {
    padding: 0 25px;
    box-sizing: border-box;
}
.slt-list li {
    list-style: none;
    text-align: left;
    cursor: pointer;
    opacity: .8;
}
.slt-list li h3 {
    font: 25px/1 Poppins;
}
.slt-list li p {
    font: 400 16px/1.6 Poppins;
    
}
.active_line {
    position: absolute;
    height: 140px;
    background: #fec52e;
    display: block;
    left: 0;
    width: 5px;
    top: 5px;
    transition: all ease-in .5s;
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 768px) 
   {  
.sl-pce-lft 
{
    display: none;
}
.active_line
{
    display: none;
}
.sl-pce-rit {
    width: 80%;
    
    
}
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 410px)
   {
.sl-pce-lft 
{
    display: none;
}
.active_line
{
    display: none;
}
}